{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li><a href="{{ path('dhome_admin_projects_index') }}">{{ 'Projects'|trans }}</a></li>
        <li class="active">{{ project.name[:20] ~ '...' }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('dhome_admin_projects_index'), 'Projects'|trans) }}
            {{ buttons.edit(path('dhome_admin_projects_update', {'id': project.id})) }}
            {{ buttons.delete(path('dhome_admin_projects_delete', {'id': project.id}), null, false, true) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>{{ 'Detail'|trans }}</h4><hr>

            <strong>{{ 'Name'|trans ~ ': ' }}</strong>
            {{ project.name }}<br>

            <strong>{{ 'Short description'|trans ~ ': ' }}</strong>
            {{ project.shortDescription }}<br>

            <strong>{{ 'Content'|trans ~ ': ' }}</strong>
            {{ project.content|raw }}

            <strong>{{ 'Video link'|trans ~ ': ' }}</strong>
            {{ project.videoLink }}<br>

        </div>
        <div class="col-sm-6">
            <h4>{{ 'Project images'|trans }}</h4><hr>
            {% for image in project.images %}
                <img src="{{ image.path|imagine_filter('dhome_medium') }}">
            {% else %}
                No photo.
            {% endfor %}
        </div>
    </div>
{% endblock %}
