{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}
{% from 'DhomeWebBundle:admin/Macros:misc.html.twig' import pagination %}
{% from 'DhomeWebBundle:admin/Collection:macros.html.twig' import list %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li>{{ 'Collections'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.create(path('dhome_admin_collections_create'), 'trans.admin.create'|trans) }}
        </div>
        <h1><i class="fa fa-flag"></i> {{ 'Collections'|trans }}</h1>
    </div>

    {{ pagination(collections) }}
    {{ list(collections) }}
    {{ pagination(collections) }}
{% endblock %}
