{% form_theme form 'DhomeWebBundle:admin:forms.html.twig' %}

{{ form_errors(form) }}

<div class="row">
    <div class="col-sm-6">
        <span style="color: red;">* </span> {{ 'Title'|trans }}
        <div class="form-title-space">
            {{ form_row(form.title, {label: false}) }}
        </div>
    </div>
    <div class="col-sm-6">
        <span style="color: red;">* </span> {{ 'Subtitle'|trans }}
        <div class="form-title-space">
            {{ form_row(form.subTitle, {label: false}) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{ 'Youtube Embed Link'|trans }}
        <div class="form-title-space">
            {{ form_row(form.videoLink, {label: false}) }}
        </div>
    </div>
</div>

<span style="color: red;">* </span> {{ 'Content'|trans }}
<div style="margin-top: 10px;">
    {{ form_row(form.content, {label: false}) }}
</div>


{{ 'Image'|trans }}

<div style="padding-top: 10px;">
    {% if form.image.vars.value %}
        {% if form.image.vars.value.path is defined %}
            <img src="{{ form.image.vars.value.path|imagine_filter('dhome_medium') }}">
        {% endif %}
    {% endif %}
</div>

{{ form_row(form.image, {label: false}) }}
