{% macro list(inspirations) %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}
{% import 'DhomeWebBundle:admin/Macros:alerts.html.twig' as alerts %}
{% import 'DhomeWebBundle:admin/Macros:misc.html.twig' as misc %}

<div class="table-responsive">
    {% if inspirations|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'trans.admin.no'|trans }}</th>
                    <th>{{ sylius_resource_sort('title', 'trans.admin.title'|trans) }}</th>
                    <th>{{ 'trans.admin.created_at'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for inspiration in inspirations %}
                <tr>
                    <td>{{ inspiration.id }}</td>
                    <td><a href="{{ path('dhome_admin_inspirations_show', {id: inspiration.id}) }}">{{ inspiration.title }}</a></td>
                    <td>{{ inspiration.createdAt|date }}</td>
                    <td>
                        <div class="actions-field">
                            {{ buttons.edit_small(path('dhome_admin_inspirations_update', {'id': inspiration.id})) }}
                            {{ buttons.delete_small(path('dhome_admin_inspirations_delete', {'id': inspiration.id})) }}
                       </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('trans.admin.no_data'|trans) }}
    {% endif %}
</div>


{% endmacro %}
