{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}

{% block header %}
    <div class="pull-xs-left header-text"><i class="fa fa-folder-open"></i> {{ 'Inspiration Detail'|trans }}</div>
    <div class="pull-xs-right">
        {{ buttons.manage(path('dhome_admin_inspirations_index'), 'Inspirations'|trans) }}
        {{ buttons.edit(path('dhome_admin_inspirations_update', {'id': inspiration.id})) }}
        {{ buttons.delete(path('dhome_admin_inspirations_delete', {'id': inspiration.id}), null, false, true) }}
    </div>
{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li><a href="{{ path('dhome_admin_inspirations_index') }}">{{ 'Inspirations'|trans }}</a></li>
        <li class="active">{{ inspiration.title[:20] ~ '...' }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="show-detail-header">
                {{ 'Information'|trans }}
            </div><hr>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="show-detail-td">
                            {{ 'Title'|trans }}
                        </td>
                        <td>
                            {{ inspiration.title }}
                        </td>
                    </tr>
                    <tr>
                        <td class="show-detail-td">
                            {{ 'Subtitle'|trans }}
                        </td>
                        <td>
                            {{ inspiration.subtitle }}
                        </td>
                    </tr>
                    <tr>
                        <td class="show-detail-td">
                            {{ 'Content'|trans }}
                        </td>
                        <td>
                            {{ inspiration.content|raw }}
                        </td>
                    </tr>
                    <tr>
                        <td class="show-detail-td">
                            {{ 'Created at'|trans }}
                        </td>
                        <td>
                            {{ inspiration.createdAt|date }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="show-detail-header">
                {{ 'Image'|trans }}
            </div><hr>
            {% if inspiration.image %}
                <img src="{{ inspiration.image.path|imagine_filter('dhome_large') }}">
            {% else %}
                No photo.
            {% endif %}
        </div>
    </div>
{% endblock %}
