{% extends 'DhomeWebBundle:admin:layout.html.twig' %}
{% form_theme form 'DhomeWebBundle:admin:forms.html.twig' %}

{% from 'DhomeWebBundle:admin/Macros:actions.html.twig' import update %}

{% block header %}
    <div class="pull-xs-left header-text"><i class="fa fa-pencil"></i> {{ 'Change password'|trans }}</div>
{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li class="active">{{ 'Change password'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_errors(form) }}

    <form action="{{ path('dhome_admin_change_password') }}" {{ form_enctype(form) }} method="POST">
        <fieldset>
            {{ 'Current password'|trans }}
            {{ form_row(form.currentPassword, {'label': false}) }}

            {{ 'New password' }}
            {{ form_row(form.newPassword.first, {'label': false}) }}

            {{ 'Confirmation' }}
            {{ form_row(form.newPassword.second, {'label': false}) }}
        </fieldset>
        {{ form_rest(form) }}
        {{ update() }}
    </form>
{% endblock %}
