{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}
{% from 'DhomeWebBundle:admin/Macros:misc.html.twig' import pagination %}
{% from 'DhomeWebBundle:admin/Vision:macros.html.twig' import list %}

{% block header %}
    <div class="pull-xs-left header-text"><i class="fa fa-flag"></i> {{ 'Visions'|trans }}</div>
    <div class="pull-xs-right">
        {{ buttons.create(path('dhome_admin_visions_create'), 'trans.admin.create'|trans) }}
    </div>
{% endblock %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li class="active">{{ 'Visions'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row index-page-header">
        <div class="pull-xs-left col-sm-3">
            <div class="input-group">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                </span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="pull-xs-right col-lg-9 index-paginate">
            {{ pagination(visions) }}
        </div>
    </div>

    {{ list(visions) }}
{% endblock %}
