{% macro list(visions) %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}
{% import 'DhomeWebBundle:admin/Macros:alerts.html.twig' as alerts %}
{% import 'DhomeWebBundle:admin/Macros:misc.html.twig' as misc %}

<div class="table-responsive">
    {% if visions|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'trans.admin.no'|trans }}</th>
                    <th>{{ sylius_resource_sort('title', 'trans.admin.title'|trans) }}</th>
                    <th>{{ 'trans.admin.created_at'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for vision in visions %}
                <tr>
                    <td>{{ vision.id }}</td>
                    <td><a href="{{ path('dhome_admin_visions_show', {id: vision.id}) }}">{{ vision.title }}</a></td>
                    <td>{{ vision.createdAt|date }}</td>
                    <td>
                        <div class="pull-right">
                            {{ buttons.edit_small(path('dhome_admin_visions_update', {'id': vision.id})) }}
                            {{ buttons.delete_small(path('dhome_admin_visions_delete', {'id': vision.id})) }}
                       </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('trans.admin.no_data'|trans) }}
    {% endif %}
</div>


{% endmacro %}
