{% extends 'DhomeWebBundle:admin:layout.html.twig' %}

{% import 'DhomeWebBundle:admin/Macros:buttons.html.twig' as buttons %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'trans.admin.breadcrumb.dashboard'|trans }}</li>
        <li><a href="{{ path('dhome_admin_visions_index') }}">{{ 'Visions'|trans }}</a></li>
        <li class="active">{{ vision.title[:20] ~ '...' }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.manage(path('dhome_admin_visions_index'), 'Visions'|trans) }}
            {{ buttons.edit(path('dhome_admin_visions_update', {'id': vision.id})) }}
            {{ buttons.delete(path('dhome_admin_visions_delete', {'id': vision.id}), null, false, true) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h4>{{ 'Detail'|trans }}</h4><hr>

            <strong>{{ 'Title'|trans ~ ': ' }}</strong>
            {{ vision.title }}<br>

            <strong>{{ 'Subtitle'|trans ~ ': ' }}</strong>
            {{ vision.subtitle }}<br>

            <strong>{{ 'Content'|trans ~ ': ' }}</strong>
            {{ vision.content|raw }}

        </div>
        <div class="col-sm-6">
            <h4>{{ 'Vision images'|trans }}</h4><hr>
            {% for image in vision.images %}
                <img src="{{ image.path|imagine_filter('dhome_medium') }}">
            {% else %}
                No photo.
            {% endfor %}
        </div>
    </div>
{% endblock %}
