{% macro show(url, message) %}
    <a href="{{ url }}" class="btn btn-default">
       <i class="fa fa-book"></i> {{ message is empty ? 'trans.admin.detail'|trans : message }}
    </a>
{% endmacro %}

{% macro generic(url, message, icon) %}
    <a href="{{ url }}" class="btn btn-default">
        {% if icon is not empty %}<i class="fa fa-{{ icon }}"></i>{% endif %} {{ message }}
    </a>
{% endmacro %}

{% macro create(url, message) %}
    <a href="{{ url }}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {{ message is empty ? 'trans.admin.create'|trans : message }}
    </a>
{% endmacro %}

{% macro edit(url, message) %}
    <a href="{{ url }}" class="btn btn-info">
        <i class="fa fa-pencil"></i> {{ message is empty ? 'trans.admin.edit'|trans : message }}
    </a>
{% endmacro %}

{% macro edit_small(url, message) %}
    <a href="{{ url }}" class="btn btn-info btn-sm">
        <i class="fa fa-pencil"></i> {{ message is empty ? 'trans.admin.edit'|trans : message }}
    </a>
{% endmacro %}

{% macro delete(url, message, disabled=false, modal=true) %}
    {% if disabled %}
    <span class="btn btn-danger disabled">
        <i class="fa fa-trash"></i> {{ message is empty ? 'trans.admin.delete'|trans : message }}
    </span>
    {% else %}
    <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger{% if modal %} btn-confirm{% endif %}" type="submit">
            <i class="fa fa-trash"></i> {{ message is empty ? 'trans.admin.delete'|trans : message }}
        </button>
    </form>
    {% endif %}
{% endmacro %}

{% macro delete_small(url, message, disabled=false, modal=true) %}
    {% if disabled %}
        <span class="btn btn-danger btn-sm disabled">
        <i class="fa fa-trash"></i> {{ message is empty ? 'trans.admin.delete'|trans : message }}
    </span>
    {% else %}
        <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
            <input type="hidden" name="_method" value="DELETE">
            <span class="btn btn-danger{% if modal %} btn-sm btn-confirm{% endif %}" type="submit">
                <i class="fa fa-trash"></i> {{ message is empty ? 'trans.admin.delete'|trans : message }}
            </span>
        </form>
    {% endif %}
{% endmacro %}

{% macro manage(url, message) %}
    <a href="{{ url }}" class="btn btn-success">
        <i class="fa fa-folder-open"></i> {{ message is empty ? 'trans.admin.manage'|trans : message }}
    </a>
{% endmacro %}

{% macro move(url, direction, first=false, last=false, message='') %}
    <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="PUT">
        <button title="{{ message is empty ? ('sylius.ui.move_'~direction)|trans : message }}" class="btn btn-default {% if ('up' == direction and first) or ('down' == direction and last) %}disabled{% endif %}" type="submit">
            <i class="fa fa-arrow-{{ direction }}"></i>
        </button>
    </form>
{% endmacro %}

{% macro patch(url, message, icon, button) %}
    <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-{{ button|default('success') }}" type="submit">
            <i class="fa fa-{{ icon|default('transfer') }}"></i> {{ message }}
        </button>
    </form>
{% endmacro %}

{% macro enable(url, message, icon, button) %}
    <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-{{ button|default('success') }}" type="submit">
            <i class="fa fa-{{ icon|default('ok') }}"></i> {{ message is empty ? 'trans.admin.enable'|trans : message }}
        </button>
    </form>
{% endmacro %}

{% macro disable(url, message, icon, button) %}
    <form action="{{ url }}" method="post" class="delete-action-form" novalidate>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-{{ button|default('danger') }}" type="submit">
            <i class="fa fa-{{ icon|default('remove') }}"></i> {{ message is empty ? 'trans.admin.disable'|trans : message }}
        </button>
    </form>
{% endmacro %}
