<div class="gallery">
    <div class="row">

        {% for i in 0..2 %}
            <div class="col-lg-4 col-sm-6 col-xs-12 thumbnail-list">
                <a href="#" class="image-w" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="img-fluid img-lazy thumbnail" data-original="{{ asset('ui/web/img/t4.jpg') }}">

                    <div class="cover">
                        <h3>A little bit more about the thing</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 thumbnail-list">
                <a href="#" class="image-w" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="img-fluid img-lazy thumbnail" data-original="{{ asset('ui/web/img/a.jpg') }}">

                    <div class="cover">
                        <h3>A little bit more about the thing</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 thumbnail-list">
                <a href="#" class="image-w" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="img-fluid img-lazy thumbnail" data-original="{{ asset('ui/web/img/b.jpg') }}">

                    <div class="cover">
                        <h3>A little bit more about the thing</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 thumbnail-list">
                <a href="#" class="image-w" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="img-fluid img-lazy thumbnail" data-original="{{ asset('ui/web/img/t.jpg') }}">

                    <div class="cover">
                        <h3>A little bit more about the thing</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 thumbnail-list">
                <a href="#" class="image-w" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <img class="img-fluid img-lazy thumbnail" data-original="{{ asset('ui/web/img/t3.jpg') }}">

                    <div class="cover">
                        <h3>A little bit more about the thing</h3>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

</div>
