{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block head %}
    <title>DDHOMETH : {{ inspiration.title }}</title>
    <link rel="image_src" href="{{ inspiration.image.path|imagine_filter('dhome_web_relative') }}">
    <meta name="keywords" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, inspiraton, ตกแต่ง">
    <meta name="description" content="{{ inspiration.subTitle }}">

    <meta property="fb:app_id" content="314704065533212">
    <meta property="og:title" content="{{ inspiration.title }}">
    <meta property="og:type" content="object">
    <meta property="og:url" content="{{ path('dhome_web_inspiration_show', {'id': inspiration.id, 'title': inspiration.title|slugify}) }}">
    <meta property="og:image" content="{{ inspiration.image.path|imagine_filter('dhome_web_relative') }}">
    <meta property="og:description" content="{{ inspiration.subTitle }}">
    <meta property="og:site_name" content="http://www.ddhometh.com">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ path('dhome_web_inspiration_show', {'id': inspiration.id, 'title': inspiration.title|slugify}) }}">
    <meta name="twitter:title" content="{{ inspiration.title }}">
    <meta name="twitter:description" content="{{ inspiration.subTitle }}">
    <meta name="twitter:image" content="{{ inspiration.image.path|imagine_filter('dhome_web_relative') }}">
{% endblock %}

{% block content %}

    {% block breadcrumb %}
        <ol class="breadcrumb breadcrumb-dh">
            <li><a href="{{ path('dhome_homepage') }}">Home</a></li>
            <li><a href="{{ path('dhome_web_inspiration_index') }}">Inspiration</a></li>
            <li class="active">{{ inspiration.title }}</li>
        </ol>
    {% endblock %}

    <div class="row">
        <div class="inspi col-md-9">
            <div class="inspi__title">{{ inspiration.title }}</div>

            {% if inspiration.image %}
                <div class="inspi__img">
                    <img class="img-fluid img-lazy" src="{{ inspiration.image.path|imagine_filter('dhome_web_relative') }}">
                </div>
            {% endif %}

            <div class="project-show-box__share">
                <span>Share :</span>
                <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://ddhometh.com{{ path('dhome_web_inspiration_show', {'id': inspiration.id, 'title': inspiration.title|slugify}) }}"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=http://ddhometh.com{{ path('dhome_web_inspiration_show', {'id': inspiration.id, 'title': inspiration.title|slugify}) }}&via=DDHOMETH"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://plus.google.com/share?url=http://ddhometh.com{{ path('dhome_web_inspiration_show', {'id': inspiration.id, 'title': inspiration.title|slugify}) }}"><i class="fa fa-google-plus"></i></a>
            </div>

            <div class="inspi__time">{{ inspiration.createdAt|date }}</div>
            <div class="inspi__sub-title">{{ inspiration.subTitle }}</div>

            {% if inspiration.videoLink %}
                <iframe width="420" height="345" src="{{ inspiration.videoLink }}">g</iframe>
            {% endif %}

            <div class="inspi__ct">{{ inspiration.content|raw }}</div>

        </div>
        <div class="col-md-3 inspi__similar">
            <div class="inspi">
                <div class="inspi__header">Latest</div>

                {% for r in dhome_latest_inspiration(inspiration.id) %}
                    <div class="card inspi__card">
                        {% if r.image %}
                            <a href="{{ path('dhome_web_inspiration_show', {'id': r.id, 'title': r.title|slugify}) }}">
                                <img class="card-img-top img-fluid img-lazy" src="{{ r.image.path|imagine_filter('dhome_web_relative') }}" alt="Card image cap">
                            </a>
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title"><a href="{{ path('dhome_web_inspiration_show', {'id': r.id, 'title': r.title|slugify}) }}">{{ r.title }}</a></h4>
                            <p class="card-text"><small class="text-muted">{{ r.createdAt|date }}</small></p>
                        </div>
                    </div>
                {% else %}
                    {# todo: style #}
                    No latest result.
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
