{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}

    {% block breadcrumb %}
        {# todo: add route #}
        {% include 'DhomeWebBundle:web/partials:_breadcrumb.html.twig' %}
    {% endblock %}

    <div class="row">
        <div class="inspi col-md-9">
            <div class="inspi__title">{{ inspiration.title }}</div>

            {% if inspiration.image %}
                <div class="inspi__img">
                    <img class="img-fluid img-lazy" src="{{ inspiration.image.path|imagine_filter('dhome_web_relative') }}">
                </div>
            {% endif %}

            <div class="inspi__time">{{ inspiration.createdAt|date }}</div>
            <div class="inspi__sub-title">{{ inspiration.subTitle }}</div>
            <div class="inspi__ct">{{ inspiration.content|raw }}</div>

        </div>
        <div class="col-md-3" style="background: #f1f1f1;">
            <div class="inspi">
                <div class="inspi__header">Latest</div>

                {% for r in dhome_latest_inspiration(inspiration.id) %}
                    <div class="card inspi__card">
                        {% if r.image %}
                            <a href="">
                                <img class="card-img-top img-fluid img-lazy" src="{{ r.image.path|imagine_filter('dhome_web_relative') }}" alt="Card image cap">
                            </a>
                        {% endif %}
                        <div class="card-block">
                            <h4 class="card-title"><a href="#">{{ r.title }}</a></h4>
                            <p class="card-text"><small class="text-muted">{{ r.createdAt|date }}</small></p>
                        </div>
                    </div>
                {% else %}
                    {# todo: style #}
                    No latest result.
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
