{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block content %}

    {% block breadcrumb %}
        {% include 'DhomeWebBundle:web/partials:_breadcrumb.html.twig' %}
    {% endblock %}

    <div class="inspi">
        <div class="inspi__title">{{ inspiration.title }}</div>
        <div class="inspi__img">
            {# todo: fix vision have on image #}
            <img class="img-fluid img-lazy" src="{{ asset('ui/web/img/h.jpg') }}">
        </div>
        <div class="inspi__time">{{ inspiration.createdAt|date }}</div>
        <div class="inspi__sub-title">{{ inspiration.subtitle }}</div>
        <div class="inspi__ct">{{ inspiration.content|raw }}</div>

    </div>

    {% block paginator %}
        {% include 'DhomeWebBundle:web/partials:_paginator.html.twig' %}
    {% endblock %}

    {# todo: embed controller #}
    <div class="inspi">
        <div class="card-columns">

            {% for i in 0..2 %}
                <div class="card inspi__card">
                    <a href="">
                        <img class="card-img-top img-fluid img-lazy" src="{{ asset('ui/web/img/b.jpg') }}" alt="Card image cap">
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="#">Card title that wraps to a new line</a></h4>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
