{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% block head %}
    <title>DDHOMETH : {{ press.name }}</title>
    <meta name="keywords" content="ddhome, ddhometh, design at home, modern, design, home building">
    <meta name="description" content="ddhome,ddhometh, design at home, modern, design, home building">

    <meta property="fb:app_id" content="314704065533212">
    <meta property="og:title" content="{{ press.name }}">
    <meta property="og:type" content="object">
    <meta property="og:url" content="http://www.ddhometh.com">
    <meta property="og:image" content="http://www.ddhometh.com{{ asset('ui/web/img/dhome-logo.png') }}">
    <meta property="og:description" content="DDHOME, design at home, design, home building, interiror, exterior">
    <meta property="og:site_name" content="http://www.ddhometh.com">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://www.ddhometh.com">
    <meta name="twitter:title" content="{{ press.name }}">
    <meta name="twitter:description" content="DDHOME, design at home, design, home building, interiror, exterior">
    <meta name="twitter:image" content="http://www.ddhometh.com{{ asset('ui/web/img/dhome-logo.png') }}">
{% endblock %}

{% block content %}

    {% block breadcrumb %}
        <ol class="breadcrumb breadcrumb-dh">
            <li><a href="{{ path('dhome_homepage') }}">Home</a></li>
            <li><a href="{{ path('dhome_web_press_all_index') }}">Press</a></li>
            <li class="active">{{ press.name }}</li>
        </ol>
    {% endblock %}

    <div class="project">
        <div class="project__header">{{ press.name|upper }}</div>
        {# todo:ถ้าเบียเพิ่มชื่อ cate เข้ามา ให้ใช้ตัวแปร press.category.name #}
        <div class="row project-show">
            <div class="col-md-6 col-xs-12">
                <div class="project-show-pictures row">

                    <div class="col-xs-12">
                        <ul id="lightSlider">
                            {% for image in press.images %}
                                <li data-thumb="{{ image.path|imagine_filter('dhome_web_relative') }}">
                                    <img src="{{ image.path|imagine_filter('dhome_web_relative') }}" />
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-xs-12 project-show-box">

                <div class="project-show-box__share">
                    <span>Share :</span>
                    <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://ddhometh.com{{ path('dhome_web_press_show', {'id': press.id}) }}"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=http://ddhometh.com{{ path('dhome_web_press_show', {'id': press.id}) }}&via=DDHOMETH"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://plus.google.com/share?url=http://ddhometh.com{{ path('dhome_web_press_show', {'id': press.id}) }}"><i class="fa fa-google-plus"></i></a>
                </div>

                <h4 class="project-show-box__header">{{ press.shortDescription }}</h4>
                <p class="project-show-box__description">{{ press.content|raw }}</p>
            </div>
        </div>

    </div>
{% endblock %}
