{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% from 'DhomeWebBundle:web/partials:_paginator.html.twig' import pagination %}

{% block head %}
    <title>DDHOMETH : COLLECTIONS</title>
    <link rel="image_src" href="{{ asset('ui/web/img/dhome-logo.png') }}">
    <meta name="keywords" content="collections, ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, projects, ตกแต่ง, press">
    <meta name="description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, projects, ตกแต่ง, press">

    <meta property="fb:app_id" content="314704065533212">
    <meta property="og:title" content="DDHOMETH : COLLECTIONS">
    <meta property="og:type" content="object">
    <meta property="og:url" content="http://www.ddhometh.com/press">
    <meta property="og:image" content="{{ asset('ui/web/img/dhome-logo.png') }}">
    <meta property="og:description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, press">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DDHOMETH : COLLECTIONS">
    <meta name="twitter:description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, press">
    <meta name="twitter:image" content="{{ asset('ui/web/img/dhome-logo.png') }}">
{% endblock %}

{% block content %}

    {% block breadcrumb %}
        <ol class="breadcrumb breadcrumb-dh">
            <li><a href="{{ path('dhome_homepage') }}">Home</a></li>
            <li class="active"><a href="{{ path('dhome_web_collection_all_index') }}">Collections</a></li>
        </ol>
    {% endblock %}

    <div class="project">
        <div class="project__header">COLLECTION</div>

        {% include 'DhomeWebBundle:web:_collection-gallery.html.twig' %}
    </div>

    {% block paginator %}
        {{ pagination(collections) }}
    {% endblock %}

{% endblock %}
