{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% from 'DhomeWebBundle:web/partials:_paginator.html.twig' import pagination %}

{% block head %}
    <title>DDHOMETH : OUR INSPIRATIONS</title>
    <link rel="image_src" href="{{ asset('ui/web/img/dhome-logo.png') }}">
    <meta name="keywords" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, inspiraton, ตกแต่ง">
    <meta name="description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior, inspiraton, ตกแต่ง">

    <meta property="fb:app_id" content="314704065533212">
    <meta property="og:title" content="DDHOMETH : OUR INSPIRATIONS">
    <meta property="og:type" content="object">
    <meta property="og:url" content="http://www.ddhometh.com/inspirations">
    <meta property="og:image" content="{{ asset('ui/web/img/dhome-logo.png') }}">
    <meta property="og:description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DDHOMETH : OUR INSPIRATIONS">
    <meta name="twitter:description" content="ddhome, ddhometh, ddsign at home, design at home, modern, design, home building, สร้างบ้าน, ตกแต่งบ้าน, interiror, exterior">
    <meta name="twitter:image" content="{{ asset('ui/web/img/dhome-logo.png') }}">
{% endblock %}

{% block content %}

    {% block breadcrumb %}
        <ol class="breadcrumb breadcrumb-dh">
            <li><a href="{{ path('dhome_homepage') }}">Home</a></li>
            <li class="active"><a href="{{ path('dhome_web_inspiration_index') }}">Inspirations</a></li>
        </ol>
    {% endblock %}

    <div class="inspi">
        <div class="inspi__header">OUR INSPIRATIONS</div>

        <div class="card-columns">

            {% for r in inspirations %}
                <div class="card inspi__card">
                    {% if r.image %}
                        <a href="{{ path('dhome_web_inspiration_show', {'id': r.id, 'title': r.title|slugify}) }}">
                            <img class="card-img-top img-fluid img-lazy" src="{{ r.image.path|imagine_filter('dhome_web_relative') }}" alt="Card image cap">
                        </a>
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title"><a href="{{ path('dhome_web_inspiration_show', {'id': r.id, 'title': r.title|slugify}) }}">{{ r.title }}</a></h4>
                        <p class="card-text"><a href="{{ path('dhome_web_inspiration_show', {'id': r.id, 'title': r.title|slugify}) }}">{{ r.subTitle }}</a></p>
                        <p class="card-text"><small class="text-muted">{{ r.createdAt|date }}</small></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% block paginator %}
        {# ถ้าข้อมูลน้อยกว่า limit ที่กำหนดไว้ page จะไม่ขึ้น #}
        {{ pagination(inspirations) }}
    {% endblock %}

{% endblock %}

