{% extends 'DhomeWebBundle:web:layout.html.twig' %}

{% from 'DhomeWebBundle:web/partials:_paginator.html.twig' import pagination %}

{% block content %}

    {% block breadcrumb %}
        {# todo: menu & routing #}
        {% include 'DhomeWebBundle:web/partials:_breadcrumb.html.twig' %}
    {% endblock %}

    <div class="inspi">
        <div class="inspi__header">OUR INSPIRATIONS</div>

        <div class="card-columns">

            {% for r in inspirations %}
                <div class="card inspi__card">
                    {% if r.image %}
                        <a href="{{ path('dhome_web_inspiration_show', {'id': r.id}) }}">
                            <img class="card-img-top img-fluid img-lazy" src="{{ r.image.path|imagine_filter('dhome_web_relative') }}" alt="Card image cap">
                        </a>
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title"><a href="{{ path('dhome_web_inspiration_show', {'id': r.id}) }}">{{ r.title }}</a></h4>
                        <p class="card-text"><a href="{{ path('dhome_web_inspiration_show', {'id': r.id}) }}">{{ r.subTitle }}</a></p>
                        <p class="card-text"><small class="text-muted">{{ r.createdAt|date }}</small></p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% block paginator %}
        {# ถ้าข้อมูลน้อยกว่า limit ที่กำหนดไว้ page จะไม่ขึ้น #}
        {{ pagination(inspirations) }}
    {% endblock %}

{% endblock %}
