<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="distribution" content="global">
        <meta name="robots" content="all">

        <link rel="shortcut icon" href="http://www.ddhometh.com/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="image_src" href="http://www.ddhometh.com{{ asset('ui/web/img/dhome-logo.png') }}">

        {% block head %}
            <title>DDHOMETH</title>
            <meta name="keywords" content="ddhome, ddhometh, design at home, modern, design, home building">
            <meta name="description" content="ddhome,ddhometh, design at home, modern, design, home building">

            <meta property="fb:app_id" content="314704065533212">
            <meta property="og:title" content="DDHOMETH">
            <meta property="og:type" content="object">
            <meta property="og:url" content="http://www.ddhometh.com">
            <meta property="og:image" content="http://www.ddhometh.com{{ asset('ui/web/img/dhome-logo.png') }}">
            <meta property="og:description" content="DDHOME, design at home, design, home building, interiror, exterior">
            <meta property="og:site_name" content="http://www.ddhometh.com">

            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="http://www.ddhometh.com">
            <meta name="twitter:title" content="DDHOMETH">
            <meta name="twitter:description" content="DDHOME, design at home, design, home building, interiror, exterior">
            <meta name="twitter:image" content="http://www.ddhometh.com{{ asset('ui/web/img/dhome-logo.png') }}">
        {% endblock %}

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel=stylesheet>
            <link rel="stylesheet" href="{{ asset('assets/web/css/style.css') }}" type="text/css"/>
        {% endblock %}

        <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    </head>

    <body>

    {% block navbar %}
        {% include 'DhomeWebBundle:web/partials:_navbar.html.twig' %}
    {% endblock %}

    {% block carousel %}{% endblock %}
    {% block body %}{% endblock %}

    {% block footer %}
        {% include 'DhomeWebBundle:web/partials:_footer.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/web/js/app.js') }}"></script>
    {% endblock javascripts %}

    </body>
</html>
