<footer>
    <ul class="footer__sitemap">
        <li><a href="{{ path('dhome_homepage') }}">HOME</a> |</li>
        <li><a href="{{ path('dhome_web_inspiration_index') }}">INSPIRATIONS</a> |</li>
        <li><a href="{{ path('dhome_web_project_all_index') }}">PROJECTS</a> |</li>
        <li><a href="{{ path('dhome_web_collection_all_index') }}">COLLECTIONS</a> |</li>
        <li><a href="{{ path('dhome_web_press_all_index') }}">PRESS</a> |</li>
        <li><a href="#">CONTACT</a></li>
        {#<li><a href="{{ path('dhome_contact') }}">CONTACT</a></li>#}
    </ul>
    <div class="footer__comp">
        <div class="footer__comp--soc">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-pinterest"></i></a>
            <a><i class="fa fa-instagram"></i></a>
        </div>
        <p>Copyright © 2016. <a>DDHOMETH.COM</a> All rights reserved.</p>
    </div>
</footer>
