<nav class="navbar navbar-dt navbar-fixed-top bg-faded">
    <div class="container">
        <div class="navbar-brand navbar-dt__comp">
            <div class="navbar-dt__comp--name"><a href="{{ path('dhome_homepage') }}">DDHOME</a></div>
            <div class="navbar-dt__comp--desc">LIVING | DECOR</div>
        </div>
        <ul class="navbar-dt__menu">
            <li class="navbar-dt__menu--toggle">
                <a href="{{ path('dhome_web_inspiration_index') }}">INSPIRATIONS</a>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">PROJECTS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('dhome_web_project_all_index') }}">ALL PROJECTS</a></li>
                    {% set projectSubmenus = dhome_project_submenu() %}

                    {% if projectSubmenus|length %}
                        {% for r in projectSubmenus %}
                            <li><a href="{{ path('dhome_web_project_category_index', {'categoryId': r.id, 'categoryName': r.name|slugify}) }}">
                                {{ r.name|upper }}
                            </a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">COLLECTIONS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('dhome_web_collection_all_index') }}">ALL COLLECTIONS</a></li>
                    {% set collectionSubmenus = dhome_collection_submenu() %}

                    {% if collectionSubmenus|length %}
                        {% for r in collectionSubmenus %}
                            <li><a href="{{ path('dhome_web_collection_category_index', {'categoryId': r.id, 'categoryName': r.name|slugify}) }}">
                                {{ r.name|upper }}
                            </a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="#" data-toggle="dropdown">PRESS</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('dhome_web_press_all_index') }}">ALL PRESS</a></li>
                    {% set pressSubmenus = dhome_press_submenu() %}

                    {% if pressSubmenus|length %}
                        {% for r in pressSubmenus %}
                        <li><a href="{{ path('dhome_web_press_category_index', {'categoryId': r.id, 'categoryName': r.name|slugify}) }}">
                            {{ r.name|upper }}
                        </a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li class="navbar-dt__menu--toggle">
                <a href="{{ path('dhome_web_contact') }}">CONTACT US</a>
            </li>
        </ul>
    </div>
</nav>

{% include '@DhomeWeb/web/partials/_navbar.mobile.html.twig' %}
