{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_collapsed %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock choice_widget_collapsed %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {% set widget_class = multiple ? ' checkbox-inline' : ' radio-inline' %}
        {%- for child in form %}
            {% set child_label = child.vars.label %}
            {% if child_label is not same as(false) %}
                {% set child_label_attr = child.vars.label_attr|merge({'class' : widget_class}) %}
                {% if not child.vars.compound %}
                    {% set child_label_attr = child_label_attr|merge({'for': child.vars.id}) %}
                {% endif %}
                {% if child.vars.required %}
                    {% set child_label_attr = child_label_attr|merge({'class': (child_label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                <label{% for attrname, attrvalue in child_label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% endif %}
            {{ form_widget(child) }}
            {% if child_label is not same as(false) %}
                {% if child_label is empty %}
                    {% set child_label = name|humanize %}
                {% endif %}
                {{ child_label|trans({}, translation_domain) }}
                </label>
            {% endif %}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {% set type = type|default('text') %}

        {% if 'file' == type %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' hidden file-form'}) %}
            {#<label for="{{ id }}" class="btn-primary btn-lg file-overlay"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; {{ 'sylius.ui.choose_file'|trans }}</label>#}
            {#&nbsp;#}
        {% endif %}
        {{ parent() }}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-lg-2') ~ ' control-label'}) %}

        {% if name == 'file' %}
            {% set label_attr = label_attr|merge({'class': label_attr.class|default('col-lg-2') ~ ' control-label', 'style': 'display: none;'}) %}
        {% endif %}
        {{ parent() }}
    {% endspaceless %}
{% endblock form_label %}

{% block money_widget %}
    {% spaceless %}
        <div class="input-group">
            <span class="input-group-addon">{{ money_pattern|replace({'{{ widget }}': ''}) }}</span>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
    {% spaceless %}
        <div class="input-group">
            <span class="input-group-addon">%</span>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock percent_widget %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {{ '{{ year }} / {{ month }} / {{ day }}'|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'style': 'display: inline; width: 100px;'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'style': 'display: inline; width: 100px;'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'style': 'display: inline; width: 100px;'}}),
            })|raw }}
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1, 'style': 'width: 60px; display: inline;' }} : {} %}
            &nbsp;{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %} {{ form_widget(form.second, vars) }}{% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group{% if errors|length > 0 %} has-danger{% endif %}">
            {{ form_label(form) }}
            <div {% if label is not same as(false) %}class="col-lg-10"{% endif %}>
                {{ form_widget(form) }}
                {% for error in errors %}
                    <span class="help-block has-danger">
                {{
                error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            </span>
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block collection_widget -%}
    {% from 'SyliusResourceBundle:Macros:notification.html.twig' import error %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% spaceless %}
        <div data-form-type="collection"
                {{ block('widget_container_attributes') }}
                {% if prototype is defined and allow_add %}
            data-prototype='{{ _self.collectionItem(prototype, allow_delete, button_delete_label, '__name__')|e }}'
                {%- endif -%}>

            {{ error(form.vars.errors) }}

            {% if prototypes|default is iterable %}
                {% for key, subPrototype in prototypes %}
                    <input type="hidden"
                           data-form-prototype="{{ key }}"
                           value="{{ _self.collectionItem(subPrototype, allow_delete, button_delete_label, '__name__')|e }}" />
                {% endfor %}
            {% endif %}

            <div data-form-collection="list"
                 class="row collection-list">
                {% for child in form %}
                    {{ _self.collectionItem(child, allow_delete, button_delete_label, loop.index0) }}
                {% endfor %}
            </div>

            {% if prototype is defined and allow_add %}
                <a href="#" class="btn btn-success btn-sm"
                   data-form-collection="add">
                    <i class="fa fa-plus"></i>
                    {{ button_add_label|trans }}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{%- endblock collection_widget %}

{% macro collectionItem(form, allow_delete, button_delete_label, index) %}
    {% spaceless %}
        <div data-form-collection="item"
             data-form-collection-index="{{ index }}"
             class="collection-item">
            <div class="collection-box{% if form|length == 1 %} unique-field{% endif %}">
            <div class="row">
                <div class="col-sm-3">
                    {% if form.vars.value %}
                        {% if form.vars.value.path is defined and form.vars.value.path %}
                            <img src="{{ form.vars.value.path|imagine_filter('dhome_medium') }}">
                        {% endif %}
                    {% endif %}

                    {% if allow_delete %}
                        <p class="text-right">
                            <a href="#" data-form-collection="delete" class="btn btn-danger btn-sm">
                                <i class="fa fa-remove collection-button-remove"></i>
                                {{ button_delete_label|trans }}
                            </a>
                        </p>
                    {% endif %}
            </div>
            <div class="col-sm-9">
                {% if not form.children|length %}
                    {{ form_widget(form) }}
                {% else %}
                    {{ form_rest(form) }}
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
