<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a class="nav-link last-item" href="{{ path('dhome_admin_visions_index') }}">Visions</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('dhome_admin_project_category_index') }}">Project Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link last-item" href="{{ path('dhome_admin_projects_index') }}">Project</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('dhome_admin_collection_category_index') }}">Collection Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link last-item" href="{{ path('dhome_admin_collections_index') }}">Collection</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('dhome_admin_press_category_index') }}">Press Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link last-item" href="{{ path('dhome_admin_presses_index') }}">Press</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('dhome_admin_setting_contact_parameter') }}">Contact us</a>
    </li>
</ul>
